/ADMISSIONS.csv.gz
/CALLOUT.csv.gz
/CAREGIVERS.csv.gz
/CHARTEVENTS.csv.gz
/CPTEVENTS.csv.gz
/DATETIMEEVENTS.csv.gz
/DIAGNOSES_ICD.csv.gz
/DRGCODES.csv.gz
/D_CPT.csv.gz
/D_ICD_DIAGNOSES.csv.gz
/D_ICD_PROCEDURES.csv
/D_ITEMS.csv.gz
/D_LABITEMS.csv.gz
/ICUSTAYS.csv.gz
/INPUTEVENTS_CV.csv.gz
/INPUTEVENTS_MV.csv.gz
/LABEVENTS.csv.gz
/MICROBIOLOGYEVENTS.csv.gz
/NOTEEVENTS.csv.gz
/OUTPUTEVENTS.csv.gz
/PATIENTS.csv.gz
/PRESCRIPTIONS.csv.gz
/PROCEDUREEVENTS_MV.csv.gz
/PROCEDURES_ICD.csv
/SERVICES.csv.gz
/TRANSFERS.csv.gz
/D_ICD_PROCEDURES.csv
/PROCEDURES_ICD.csv
